<div class="app-container">
  <div class="reflection-container">

    <div class="reflection-header-container">
      <div class="title">
        <h2>Reflections for {{currentDate}}</h2>
      </div>
      <div class="right-header-container">
        <div class=go-to-button>
          <button (click)="goToCurrent()">Go to current</button>
        </div>
        <div class="search-container">
          <div>
            <mat-form-field appearance="fill">
              <input matInput [matDatepicker]="picker" [(ngModel)]="searchDate" (dateChange)="onDateChange($event)"
                [max]="today" placeholder="Select a date" style="
                width: 150px;">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <textarea [(ngModel)]="textAreaContent" rows="10" placeholder="Write your reflections..."
      [readonly]="!isCurrentDate()"></textarea>
    <div class="reflection-footer-container">
      <button (click)="saveReflection()" [disabled]="!isCurrentDate() || contentEmpty()">Save</button>
      <div class="next-previous-button-container">
        <button (click)="onPreviousClick()">Prev</button>
        <button (click)="onNextClick()">Next</button>
      </div>
    </div>
    
  </div>

  <div class="sidebar" (scroll)="onScroll($event)">
    <h3>Previous Reflections</h3>
    <ul>
      <li *ngFor="let reflection of historyReflections">
        <a href="#" (click)="getReflectionByDate(reflection.created); $event.preventDefault()"
          [class.active]="reflection.created === currentHistoryDate">{{reflection.created}}</a>
      </li>
    </ul>
    <div *ngIf="canLoadMore()" class="loading">Loading more reflections...</div>
  </div>
</div>