.app-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.reflection-container {
  flex: 1;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input {
  width: calc(100% - 120px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-container input:focus {
  border-color: #007bff;
}

.search-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #0056b3;
}

.reflection-edit-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

textarea {
  width: 96%;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1.6;
  resize: none;
  outline: none;
  transition: border-color 0.3s ease;
}

textarea:focus {
  border-color: #007bff;
}

textarea[readonly] {
  background-color: #f0f0f0;
  color: #888;
}

button {
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.sidebar {
  width: 300px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.sidebar h3 {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  text-decoration: none;
  background-color: #f1f1f1;
  color: #007bff;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

.sidebar ul li a:hover {
  background-color: #007bff;
  color: white;
  transform: scale(1.05);
}

.sidebar ul li a.active {
  background-color: #007bff;
  color: white;
}

.loading {
  text-align: center;
  color: #888;
  margin-top: 10px;
}
