<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page with 5 Divs</title>
</head>
<body>
    <div class="container">
        <div class="box box1">Div 1: Short Description</div>
        <div class="box box2">Div 2: Another Short Description</div>
        <div class="box box3">Div 3: A Moderately Sized Description</div>
        <div class="box box4">Div 4: Longer Description Here</div>
        <div class="box box5">Div 5: The Longest Description in This Layout</div>
    </div>
</body>
</html>
