<div class="task-container">
  <!-- Add Task Section -->
  <div class="add-task-section">
    <input [(ngModel)]="newTaskTitle" placeholder="Add a new task" class="task-input" />
    <button (click)="addTask()">Add Task</button>
  </div>

  <!-- Task List Section -->
  <h3>Task List</h3>
  <div class="task-list">
    <div *ngFor="let task of tasks; let i = index" class="task-card">
      <!-- Edit task title inline -->
      <div class="task-header">
        <span *ngIf="!isEditing" >{{ task.title }}</span>
        <input *ngIf="isEditing" [(ngModel)]="task.title" class="task-edit-input" />

        <div class="task-actions">
          <button *ngIf="isEditing" (click)="editTask(i)">Edit</button>
          <button *ngIf="isEditing" (click)="updateTask(i)">Save</button>
          <button (click)="deleteTask(i)">Delete</button>
          <button (click)="completeTask(i)">
            {{ "Complete" }}
          </button>
        </div>
      </div>

      <!-- Subtasks for each task -->
      <div *ngIf="task.subtasks.length > 0" class="subtask-list">
        <h5>Subtasks:</h5>
        <ul>
          <li *ngFor="let subtask of task.subtasks; let j = index">
            <input
              type="checkbox"
              [(ngModel)]="subtask.completed"
              class="subtask-checkbox"
              (click)="completeSubtask(i, j)"
            />
            <input [(ngModel)]="subtask.title" class="subtask-input" />
            <button (click)="removeSubtask(i, j)">Remove</button>
          </li>
        </ul>
      </div>

      <!-- Add subtasks to each task -->
      <div class="add-subtask-section">
        <input
          [(ngModel)]="newSubtaskTitle"
          placeholder="Add Subtask"
          class="subtask-input"
        />
        <button (click)="addSubtaskToTask(i)">Add Subtask</button>
      </div>
    </div>
  </div>

  <!-- Completed Tasks Section -->
  <h3>Completed Tasks</h3>
  <div *ngFor="let task of completedTasks" class="task-card completed-task">
    <span>{{ task.title }}</span>
  </div>
</div>

<div class="history-container">
  <h1>History</h1>
  
  <!-- Check if there are any tasks in history -->
  <div *ngIf="history.length === 0">
    <p>No completed tasks to show.</p>
  </div>

  <div *ngIf="history.length > 0">
    <div *ngFor="let task of history; let taskIndex = index" class="task-card">
      <h2>{{ task.title }}</h2>
      <p><strong>Description:</strong> {{ task.description }}</p>
      <p><strong>Created Date:</strong> {{ task.createdDate }}</p>
      <p><strong>Deadline:</strong> {{ task.deadline }}</p>
      
      <div class="subtasks">
        <h3>Subtasks</h3>
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <span [ngClass]="{'completed': subtask.completed}">
              {{ subtask.title }} - {{ subtask.completed ? 'Completed' : 'Not Completed' }}
            </span>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</div>

