
<body>
  <div class="explanation">
    <p>This page allows you to create and manage sections representing different aspects of your life.</p>
    <p>Add new sections and navigate to each one to set your goals, track your streaks, and journal your thoughts.</p>
  </div>
  <button class="logout-button" (click)="logout()">logout</button>
  <div [ngClass]="sections.length === 0 ? 'empty' : 'container'">
    <div class="add-section">
      <input 
      type="text" 
      placeholder="New section..." 
      [(ngModel)]="sectionToAdd"
      (keyup.enter)="addSection()"
      >
      <button (click)="addSection()">Add</button>
    </div>
    <div class="sections-container">
      <div *ngFor="let section of sections" 
           class="section" 
           (click)="viewSection(section.name)">
        <h2>{{ section.name }}</h2>
        <button class="delete-button" (click)="deleteSection($event, section.name)">
          &times;
        </button>
      </div>
    </div>
  </div>
</body>

