* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the start */
  min-height: 100vh;
  position: relative;
}

.explanation {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: 'Georgia', serif;
  color: #333;
  line-height: 1.6;
}

.explanation p {
  margin: 0;
}

.logout-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #d71a1a;
}

button:hover {
  background-color: #64c869;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.logout-button:hover {
  background-color: #c42424;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 1200px;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  margin-top: 180px;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 1200px;
  padding: 20px;
  border-radius: 10px;
}

.add-section {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  transition: background-color 0.3s ease;
}

.add-section input {
  width: 160px;
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #ddd;
  border-radius: 6px;
  background-color: #f0f0f0;
  font-size: 15px;
  color: #333;
  text-align: left;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.add-section input:focus {
  border-color: #28a745;
  background-color: #fafafa;
  outline: none;
}

.add-section button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #4bcd5d;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-section button:hover {
  background-color: #32a44f;
}

.sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  max-width: 1200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.section {
  width: 320px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.section:nth-child(odd) {
  background-color: #7ddb80;
  border: 2px solid #388e3c;
}

.section:nth-child(even) {
  background-color: #03a9f4;
  border: 2px solid #0288d1;
}

.section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.section:nth-child(odd):hover {
  background-color: #64c869;
}

.section:nth-child(even):hover {
  background-color: #039be5;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #c42424;
  border: none;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.section:hover .delete-button {
  opacity: 1;
}

.delete-button:hover {
  background-color: #d71a1a;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }

  .add-section {
    width: 100%;
  }

  .add-section input {
    width: calc(100% - 30px);
  }
}
